<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sysu.mapper.AdminMapper">

    <resultMap id="BaseResultMap" type="com.sysu.entity.Admin">
            <id property="adminID" column="adminID" />
            <result property="passwords" column="passwords" />
            <result property="adminName" column="adminName" />
            <result property="tel" column="tel" />
            <result property="age" column="age" />
            <result property="mail" column="mail" />
            <result property="gender" column="gender" />
    </resultMap>

    <sql id="Base_Column_List">
        adminID,adminName,password,gender,age,tel,
        mail
    </sql>
</mapper>
