<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sysu.mapper.CollectionMapper">

    <resultMap id="BaseResultMap" type="com.sysu.entity.Collection">
            <id property="goodsID" column="goodsID" />
            <id property="userID" column="userID" />
            <result property="createdTime" column="createdTime" />
    </resultMap>

    <sql id="Base_Column_List">
        goodsID,userID,createdTime
    </sql>
</mapper>
